html {
  height: 100%;
  width: 100%;
  font-family: "Atkinson Hyperlegible", sans-serif !important;
}

*,
*::before,
*::after {
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out,
    color 0.3s ease-in-out, fill 0.3s ease-in-out, stroke 0.3s ease-in-out,
    opacity 0.3s ease-in-out, box-shadow 0.1s ease-in-out,
    transform 0.3s ease-in-out;
}

#main-content {
  background-color: #f8f3e3;
}
#team-banner {
  background-image: url("public/images/heroes/BG-Home-Team.webp");
  background-size:40%;
  background-position: right;
  background-repeat:no-repeat;
  padding-left: 0;
  padding-right: 0;
}
.home-banner-outer {
  background-image: url("public/images/heroes/BG-Home.webp");
  background-size: cover;
  padding-left: 0;
  padding-right: 0;
  border-bottom-color: black;
  border-bottom-width: 2px;
  min-height: 722px;
}
.home-banner-inner {
  background-image: url('public/images/heroes/Lines-Home.svg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-left: 0;
  padding-right: 0;
  min-height: 720px;
}
.home-secondary-outer {
  background-image: url("public/images/heroes/BG-Home.webp");
  background-size: cover;
  padding-left: 0;
  padding-right: 0;
  border-bottom-color: black;
  border-bottom-width: 2px;
  min-height: 722px;
}
.home-secondary-inner {
  background-image: url('public/images/heroes/Lines-Game.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-left: 0;
  padding-right: 0;
  min-height:540px;
}
.web-secondary-inner {
  background-image: url('public/images/heroes/Lines-Game.svg');
  background-repeat: no-repeat;
  padding-left: 0;
  padding-right: 0;
  min-height:540px;
  background-position-y:150%;
}
.web-banner-outer {
  background-image: url("public/images/heroes/BG-Web.webp");
  background-size: cover;
  padding-left: 0;
  padding-right: 0;
  border-bottom-color: black;
  border-bottom-width: 2px;
  min-height: 628px;
}
.web-banner-inner {
  background-image: url('public/images/heroes/Lines-Web.svg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-left: 0;
  padding-right: 0;
  min-height: 626px;

}
.game-banner-outer {
  background-image: url("public/images/heroes/BG-Game.webp");
  background-size: cover;
  padding-left: 0;
  padding-right: 0;
  border-bottom-color: black;
  border-bottom-width: 2px;
  min-height: 628px;

}
.game-banner-inner {
  background-image: url('public/images/heroes/Lines-Game.svg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-left: 0;
  padding-right: 0;
  min-height: 626px;
}
.team-banner-inner {
  background-image: url('public/images/heroes/Lines-Team.svg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-left: 0;
  padding-right: 0;
  min-height: 472px;
}
.team-banner-outer {
  background-image: url("public/images/heroes/BG-Team.webp");
  background-size: cover;
  padding-left: 0;
  padding-right: 0;
  border-bottom-color: black;
  border-bottom-width: 2px;
  min-height: 470px;
}
.team-secondary-inner {
  background-image: url('public/images/heroes/choppy.svg');
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  min-height:270px;
}
.team-individual-inner {
  background-image: url('public/images/heroes/choppy.svg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-position-y: 260px;
  min-height:540px;
}
.contact-banner-inner {
  background-image: url('public/images/heroes/Lines-Contact.svg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-left: 0;
  padding-right: 0;
}

.contact-banner-outer {
  background-image: url("public/images/heroes/BG-Contact.webp");
  background-size: cover;
  padding-left: 0;
  padding-right: 0;
  border-bottom-color: black;
  border-bottom-width: 2px;
}
.contact-secondary-inner {
  background-image: url('public/images/heroes/choppy.svg');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  min-height:270px;
}
.cta-banner-inner {
  background-image: url('public/images/heroes/Lines-CTA.svg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-left: 0;
  padding-right: 0;
}
.cta-banner-outer {
  background-image: url("public/images/heroes/BG-CTA.webp");
  background-size: cover;
  padding-left: 0;
  padding-right: 0;
  border-bottom-color: black;
  border-bottom-width: 2px;
}
.accessibility-banner-inner {
  background-image: url('public/images/heroes/Lines-Accessibility.svg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  padding-left: 0;
  padding-right: 0;
}
.accessibility-banner-outer {
  background-image: url("public/images/heroes/BG-Accessibility.webp");
  background-size: cover;
  padding-left: 0;
  padding-right: 0;
  border-bottom-color: black;
  border-bottom-width: 2px;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #fff;
  color: black;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

.custom-outline {
  border: 2px solid black; /* Normal border */
}

.custom-outline:focus,
.custom-outline:focus-visible,
.active-link:focus,
.active-link:focus-visible {
  border: 2px solid black; /* Normal border */
  /* inner indicator */
  outline: 4px #fcca46 solid;
  outline-offset: 0;
  /* outer indicator and shadow*/
  box-shadow: 0 0 0 6px #923b0e, inset 0 -4px 0 0 rgba(0, 0, 0, 0.2);
}

.active-link:hover
{
  border: 2px solid black; /* Normal border */
  box-shadow: 0 0 0 6px #923b0e, inset 0 -4px 0 0 rgba(0, 0, 0, 0.2);

}



.custom-hover-white:hover {
  background-color: rgb(230, 230, 230);
  box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.4),
    inset 0 3px 0 0 rgba(255, 255, 255, 0.4);
  padding-top: 17px;
  padding-bottom: 15px;
}

.custom-hover-yellow:hover {
  box-shadow: inset 0 3px 0 0 #d96e06;
  background-color: #e7bb40 !important;
  padding-top: 17px;
  padding-bottom: 15px;
}

.custom-hover-blue:hover {
  background-color: #033249 !important;
  box-shadow: inset 0 -3px 0 0 #104e69, inset 0 3px 0 0 #03749b;
  padding-top: 17px;
  padding-bottom: 15px;
}

.active-link {
  background-color: #fcca46 !important;
  border: #923b0e 2px solid !important;
  /* inner indicator */
  box-shadow: inset 0px 4px 0 0px rgba(0, 0, 0, 0.2);
}

.highlight-link {
  padding: 2px;
  border: 2px transparent solid;

}
.highlight-link:hover,
.highlight-link:focus,
.highlight-link:focus-visible {
  background-color: #fcca46 !important;
  border-radius: 4px;
  border: #923b0e 2px solid !important;
}

.highlight-card {
  border: rgba(255, 255, 255, 0) 2px solid;
  border-radius: 32px;
}

.highlight-card:hover,
.highlight-card:focus,
.highlight-card:focus-visible {
  background-color: #fcca46 !important;
  border: #923b0e 2px solid !important;
  border-radius: 32px;
}

.bg-primary-brand {
  background-color: #104e69;
}

.bg-blue-wave {
  background-color: #9ef5ff;
}

.bg-pebble {
  background-color: #f7f9fc;
}

.bg-sky {
  background-color: #e3f9fd;
}

.bg-turquoise-wave {
  background-color: #a7f7eb;
}

.bg-winter-swell {
  background-color: #abfaee;
}

.bg-linear-blue {
  background-image: linear-gradient(to right, #5bebff, #00d4ff);
}

.border-gray {
  border-color: #767678;
}

.bottom-outer-shadow {
  box-shadow: 0 6px 0 0 rgba(1, 28, 40, 0.3);
}

.top-light-shadow {
  position: relative;
  border-top-right-radius: 16px;
}

.top-light-shadow::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 6px;
  background: rgba(255, 255, 255, 0.4);
  border-top-right-radius: 30px;
}

.inner-top-shadow {
  box-shadow: inset 0 4px 0 0 rgba(0, 0, 0, 0.2);
}

.inner-top-light-shadow {
  box-shadow: inset 0 6px 0 0 rgba(255, 255, 255, 0.4);
}
.bottom-outer-shadow.inner-top-light-shadow {
  box-shadow: 0 6px 0 0 rgba(1, 28, 40, 0.3),
    inset 0 6px 0 0 rgba(255, 255, 255, 0.4);
}

.inner-bottom-shadow {
  box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.2);
}

.inner-bottom-shadow-black {
  box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 1);
}

.inner-y-shadow {
  box-shadow: inset 0 -4px 0 0 rgba(255, 255, 255, 0.2),
    inset 0 2px 0 0 rgba(255, 255, 255, 0.2);
}

.inner-y-shadow-light {
  box-shadow: inset 0 -4px 0 0 rgba(0, 147, 192, 0.945),
    inset 0 2px 0 0 rgba(0, 147, 192, 0.945);
}

.rounded-6xl {
  border-radius: 22px;
}

.rounded-32px {
  border-radius: 32px;
}

.rounded-a-32px {
  border-radius: 32px;
}

.rounded-table-32px {
  border-radius: 32px;
}

.rounded-b-var-32px {
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
}
.rounded-b-var-30px {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

@media (max-width: 767px) {
  .rounded-32px {
    border-radius: 32px 32px 0 0;
  }
  .rounded-b-var-32px {
    border-radius: 0px 0px 0px 0px
  }
  .rounded-30px {
    border-radius: 30px 30px 0 0;
  }
  .rounded-b-var-30px {
    border-radius: 0px 0px 0px 0px
  }
  #team-banner {
    background-image: url("public/images/heroes/BG-Home-Team.webp");
    background-size:40%;
    background-position: top right;
    background-position: calc(100% - 10px) 30px; 
    padding-top: 40%;
    background-repeat:no-repeat;
    padding-left: 0;
    padding-right: 0;
  }
  .home-secondary-inner {
    background-image: url('public/images/heroes/Lines-Web.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  .web-secondary-inner {
    background-image: url('public/images/heroes/Lines-Web.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-y: 103%;
  }
  .game-secondary-inner {
    background-image: url('public/images/heroes/Lines-Web.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-y: 106%;

  }
  .team-secondary-inner {
    background-image: url('public/images/heroes/Lines-Web.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-y: 109%;

  }
  .contact-secondary-inner {
    background-image: url('public/images/heroes/Lines-Team.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
  }
}

.rounded-t-32px {
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
}

.rounded-b-32px {
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
}

.rounded-r-32px {
  border-bottom-right-radius: 32px;
  border-top-right-radius: 32px;
}

.rounded-tr-32px {
  border-top-right-radius: 32px;
}

.rounded-30px {
  border-radius: 30px;
}

.rounded-t-30px {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.rounded-b-30px {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.rounded-r-30px {
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  border-left: black solid 2px;
}

.rounded-tr-30px {
  border-top-right-radius: 30px;
  border-left: black solid 2px;
}

.rounded-16px {
  border-radius: 16px;
}

.rounded-100px {
  border-radius: 100px;
}

.full-width-height {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 1rem;
  border-style: none !important;
  border-width: 0px;
}

.row-container {
  display: grid;
  grid-auto-rows: minmax(0, 1fr); /* This line ensures equal row height */
  gap: 1rem; /* Adjust the gap value as needed */
}

#errors a {
  @apply text-red-500 text-lg;
}

.custom-input-outline {
  outline: none;
  box-shadow: inset 0 0 0 1px transparent;
  transition: box-shadow 0.3s ease-in-out;
}

.custom-input-outline:focus {
  box-shadow: inset 0 0 0 3px #fcca46;
}
